@media screen and (max-width: 79em) {
  .hero-content,
  .description {
    max-width: 100rem;
  }
  .container {
    padding: 0 2rem;
  }
  nav {
    width: 38vw;
  }
}
@media screen and (max-width: 63em) {
  html {
    font-size: 62%;
  }
  .hero-content,
  .description {
    max-width: 90rem;
  }
  blockquote {
    width: 90rem;
  }
  nav {
    width: 50vw;
  }
}
@media screen and (max-width: 57em) {
  html {
    font-size: 62%;
  }
  .hero-content {
    max-width: 80rem;
    padding: 0 2rem;
    margin-top: 5rem;
  }
  .description {
    margin: 4rem auto 10rem;
    padding: 0 2rem;
  }
  .descrip-heading {
    height: 4rem;
    margin-bottom: 3rem;
    padding: 0 2rem;
  }
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .hair-container {
    margin: 5rem 0 0;
  }
  .product-details h2 {
    font-size: 3rem;
  }
  .customers-product {
    padding: 0 2rem;
    height: 80rem;
    max-width: 120rem;
    margin: 4rem auto;
  }
  .product-details-text {
    padding: 0 2rem;
  }
  blockquote {
    width: 70rem;
    padding: 0 1rem;
    text-align: justify;
  }
  nav {
    width: 55vw;
  }
}
@media screen and (max-width: 48em) {
  html {
    font-size: 60%;
  }
  .hero-content {
    margin-top: 4rem;
  }
  .hero-text p {
    font-size: 3rem;
    color: #250225;
  }
  .hero-text span {
    font-size: 6rem;
    font-weight: 700;
  }
  .descrip-text p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }
  .hair-container {
    height: 32rem;
    gap: 2rem;
  }
  .hair-text {
    font-size: 1.6rem;
    padding: 0 1rem;
  }
  blockquote {
    padding: 0 3rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .customers-review p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 44em) {
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
  }
  .hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-content {
    margin-top: 6rem;
  }
  .hero-text p {
    font-size: 4rem;
  }
  .hero-text span {
    font-size: 6rem;
  }
  .description {
    max-width: auto;
  }
  .customers-product {
    max-width: auto;
    margin: 4rem auto;
  }
  .product-details-text {
    padding: 0 2rem;
  }
  blockquote {
    width: auto;
    padding: 0 1rem;
    text-align: justify;
  }
  footer {
    height: auto;
  }
  footer ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 6rem;
  }
  .hero-content {
    margin: 4rem 2rem;
    padding: 2rem 0 4rem;
    height: 70vh;
    background: linear-gradient(
      to right bottom,
      rgba(201, 197, 201, 0.384),
      rgba(19, 1, 19, 0.493)
    );
    line-height: 3.5rem;
  }
  nav {
    width: 60vw;
  }
}
@media screen and (max-width: 41em) {
  blockquote {
    width: 40rem;
    padding: 0 1rem;
    text-align: unset;
  }
  nav {
    width: 75vw;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 28em) {
  .hero {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: right 0 bottom 1rem;
    background-size: cover;
  }
  header {
    color: #efe8ef;
  }
  .hero-text p {
    font-size: 4rem;
  }
  .hero-text .hero-textmin {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .hero-btns {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
  .description {
    width: 35rem;
    margin: 2rem auto 6rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: #520b52;
    padding: 0;
    height: 100rem;
  }
  .descrip-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #631563;
    margin-bottom: 3rem;
  }
  .descrip-text p {
    text-align: justify;
    margin-bottom: 4rem;
  }
  .hair-container {
    margin: 4rem auto 0;
  }
  .product-details h2 {
    margin-top: 0;
    font-size: 2.5rem;
  }
  .hair-container {
    margin: 9rem auto;
    height: 40rem;
    display: flex;
    flex-direction: column;
  }
  .hair-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .product-details {
    margin: 1rem auto 2rem;
    padding: 0 1rem;
  }
  .product-details-text {
    margin: -0.6rem 0 0;
    text-align: center;
  }
  blockquote {
    width: 28rem;
    padding: 0;
    text-align: unset;
  }
  .customers-review {
    height: auto;
  }
  .products-text {
    line-height: 3rem;
    font-size: 2.5rem;
  }
  footer ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 2rem;
    padding: 0 2rem;
  }
  nav {
    width: 100vw;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 22em) {
  .description {
    width: auto;
    margin: 4rem auto 0;
    line-height: 2.7rem;
    padding: 0 2rem;
  }
  .descrip-text p {
    margin-bottom: 2rem;
  }
  blockquote {
    width: 24rem;
    padding: 1rem 2rem;
  }
  .products {
    padding: 1.5rem;
    background-image: linear-gradient(
        to right,
        rgba(10, 5, 10, 0.795),
        rgba(65, 6, 65, 0.637)
      ),
      url(../img/three.jpeg);
  }
  .products-text {
    font-size: 2.4rem;
  }
  footer {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 17em) {
  html {
    font-size: 58%;
  }
}
